$myColor:#FFB339;

aside {
  // box-sizing: border-box;

  width: 50vw;
  height: 75vh;

  border: 0.5vh solid $myColor;
  border-radius: 5vh;

  padding: 1vh;
  padding-top: 0;
  padding-left: 0;

  h1 {
    width: 50.5vw;

    margin-top: -0.5vh;
    margin-left: -0.5vh;

    background-color: $myColor;
    line-height: 10vh;

    border: 0.5vh solid $myColor;
    border-radius: 5vh 5vh 0 0;

    text-align: center;

    font-family: 'Rubik',;
    color: white;
    font-weight: lighter;
  }

  div.meetingHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }
}
