$bHeight: 5vh;
$bTop: (12 - $bHeight)/2;

header {
  width: 100vw;
  height: 12vh;

  margin: 0;
  padding: 0;

  background-color: #695CC4;

  display: flex;

  div.showUser {

    width: 23vw;
    height: 8vh;
    margin-top: 2vh;
    // border: 1px solid black;

    float: right;
    padding: 0;
    margin-right: 2vw;
    img {
      margin-top: 0vh;

      height: 7vh;
      width: 7vh;

      border: 0.4vh white solid;
      border-radius: 50%;

      float: right;
    }

    p{

      margin-top: 1.5vh;
      text-align: right;
      // border: 1px white solid;

      width: 18vw;
      height: 3vh;

      font-size: 2vh;

      color: white;

    }
    .notThis {
      text-align: right;
      margin-top: 0;
      font-size: 1.5vh;
    }

  }


  h1{
    color: white;

    margin: 0;

    text-align: center;
    flex: 1;
    line-height: 12vh;
    a {
      font-family: 'Pacifico', ;
      color: white;
      text-decoration: none;
    }
  }

  a {
    color: #FFFF;
    text-decoration: none;
  }

  div.button {

    display: inline-block;
    position: absolute;

    height: $bHeight;
    width: 8vw;
    background-color: #695CC4;

    border: 0.1vh solid white;


    text-align: center;
    line-height: $bHeight;


  }

  .first {
    top: $bTop;
    left: 80vw;
  }

  .second {
    top: $bTop;
    left: 90vw;
  }
}
