<header>
  <h1><a href=""> Event U Up  </a></h1>
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" *ngIf="render()">
    <input type="email" name="email" placeholder="email@eventuup.com" formControlName="email">
    <input type="password" name="password" placeholder="senha" formControlName="password">
    <button type="submit">Go!</button>
  </form>
  <!-- <a href="">
    <div class="button first" *ngIf="render()" onclick="click('Show Login')">
      Login!
    </div>
  </a>
  <a href="">
    <div class="button second" *ngIf="render()">
      Register!
    </div>
  </a> -->
  <div class="showUser" *ngIf="!render()">
    <img [src]="photoUrl" alt="">
    <p>{{name}}</p>
    <p class="notThis">{{email}}</p>
  </div>
</header>
